

body {
   padding-top: 5rem;
   overflow-x: hidden;
   font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body.post-template {
   padding-bottom: 62px;
}

.mainheading {
   padding: 1rem 0rem;
}

a {
   color: #00ab6b;
}

a,
a:hover {
   transition: all 0.2s;
}

iframe {
   max-width: 100%;
}

.mediumnavigation {
   background: rgba(255, 255, 255, .97);
   box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
}

section {
   margin-bottom: 30px;
}

.section-title h2 {
   border-bottom: 1px solid rgba(0, 0, 0, .15);
   margin-bottom: 25px;
   font-weight: 700;
   font-size: 1.4rem;
   margin-bottom: 27px;
}

.section-title span.title {
   border-bottom: 1px solid rgba(0, 0, 0, .44);
   display: inline-block;
   padding-bottom: 20px;
   margin-bottom: -1px;
}

@media (min-width:576px) {
   .card-columns.listfeaturedtag {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
   }
}

@media (min-width:992px) {
   .navbar-toggleable-md .navbar-nav .nav-link {
      padding-right: .7rem;
      padding-left: .7rem;
   }
}

.card-columns .card {
   margin-bottom: 20px;
}

.row.listfeaturedtag,
.row.listrecent {
   margin-left: -10px;
   margin-right: -10px;
}

.listfeaturedtag .wrapthumbnail {
   flex: 0 0 auto;
}

.listfeaturedtag .card {
   border: 1px solid rgba(0, 0, 0, .1);
   border-radius: 2px;
   padding-left: 0;
   width: 100%;
}

.no-featured-image .listfeaturedtag .card {
   height: auto;
}

.listfeaturedtag .thumbnail {
   min-height: 200px;
   background-size: cover;
   height: 100%;
   display: block;
   background-position: 38% 22% !important;
   background-origin: border-box!important;
   border-top-left-radius: 2px;
}

.listfeaturedtag .card-block {
   padding-left: 0;
}

.listfeaturedtag h2.card-title,
.listrecent h2.card-title {
   font-size: 1.3rem;
   font-weight: 700;
   line-height: 1.25;
}

.listfeaturedtag h2.card-title a,
.listrecent h2.card-title a {
   color: rgba(0, 0, 0, .8);
}

.listfeaturedtag h2.card-title a:hover,
.listrecent h2.card-title a:hover {
   color: rgba(0, 0, 0, .6);
   text-decoration: none;
}

.listfeaturedtag h4.card-text,
.listrecent h4.card-text {
   color: rgba(0, 0, 0, .44);
   font-size: 0.95rem;
   line-height: 1.5;
   font-weight: 400;
   display: block;
}

.listfeaturedtag .card-footer,
.listrecent .card-footer {
   font-size: 12px;
   display: block;
   background: #fff;
   border-top: 0;
   padding-top: 0;
   padding-bottom: 1.5rem;
}

.listfeaturedtag .card-footer {
   padding-top: 3rem;
}

.listfeaturedtag .wrapfooter {
   position: absolute;
   bottom: 20px;
   left: 15px;
   padding-right: 30px;
   right: 0px;
}

.listrecent .card {
   border-radius: 3px;
   width: 100%;
   display: inline-block;
}

.listrecent .card .img-thumb {
   width: 100%;
}

.author-thumb {
   width: 40px;
   height: 40px;
   border-radius: 100%;
}

.post-top-meta {
   margin-bottom: 2rem;
}

.post-top-meta .author-thumb {
   width: 72px;
   height: auto;
}

.post-top-meta span {
   font-size: 0.9rem;
   color: rgba(0, 0, 0, .44);
   display: inline-block;
}

.post-top-meta .author-description {
   margin-bottom: 10px;
   margin-top: 10px;
   font-size: 0.95rem;
   display: block;
}

.masonrygrid .author-meta {
   width: 70%;
}

span.post-name,
span.post-date,
span.author-meta {
   display: inline-block;
}

span.post-date,
span.post-read {
   color: rgba(0, 0, 0, .44);
}

span.post-read-more a {
   color: rgba(0, 0, 0, .44);
}

span.post-name a,
span.post-read-more a:hover {
   color: rgba(0, 0, 0, .8);
}

.dot:after {
   content: "·";
   margin-left: 3px;
   margin-right: 3px;
}

.mediumnavigation .form-control {
   font-size: 0.8rem;
   border-radius: 30px;
   overflow: hidden;
   border: 1px solid rgba(0, 0, 0, 0.04);
   font-style: italic;
}

.mediumnavigation .form-inline .btn {
   margin-left: -50px;
   border: 0;
   border-radius: 30px;
   cursor: pointer;
}

.mediumnavigation .form-inline .btn:hover,
.mediumnavigation .form-inline .btn:active {
   background: transparent;
   color: green;
}

.mediumnavigation .navbar-brand {
   font-weight: 500;
}

.mediumnavigation .dropdown-menu {
   border: 1px solid rgba(0, 0, 0, 0.08);
   margin: .5rem 0 0;
}

.mediumnavigation .nav-item,
.dropdown-menu {
   font-size: 0.9rem;
}

.mediumnavigation .search-icon {
   margin-left: -40px;
   display: inline-block;
   margin-top: 3px;
   -webkit-appearance: none;
}

.mediumnavigation .navbar-brand img {
   max-height: 30px;
}

.mainheading h1.sitetitle {
   font-family: Righteous;
}

.mainheading h1.posttitle {
   font-weight: 700;
   margin-bottom: 1rem;
}

.footer {
   border-top: 1px solid rgba(0, 0, 0, .05)!important;
   padding-top: 15px;
   padding-bottom: 12px;
   font-size: 0.8rem;
   color: rgba(0, 0, 0, .44);
   margin-top: 50px;
}

.link-dark {
   color: rgba(0, 0, 0, .8);
}

.article-post {
   font-family: Merriweather;
   font-size: 1.2rem;
   line-height: 1.8;
   color: rgba(0, 0, 0, .8);
}

.page-template .article-post {
   font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

blockquote {
   border-left: 4px solid #00ab6b;
   padding: 0 20px;
   font-style: italic;
   color: rgba(0, 0, 0, .5);
}

.article-post p,
.article-post blockquote,
figure,
pre,
dl,
ol,
ul {
   margin: 0 0 2rem 0;
}

.featured-image {
   display: block;
   margin: 0px auto;
   margin-bottom: 2rem;
}

.share {
   text-align: center;
   margin-top: 20px;
}

.share p {
   margin-bottom: 10px;
   font-size: 0.95rem;
}

.share {
   display: none;
}

.share ul li {
   display: inline-block;
   margin-bottom: 5px;
}

.share ul {
   padding-left: 0;
   margin-left: 0;
}

.svgIcon {
   vertical-align: middle;
}

@media (min-width:1024px) {
   .share {
      position: fixed;
      display: block;
   }
   .share ul li {
      display: block;
   }
}

@media (max-width:1024px) {
   .post-top-meta .col-md-10 {
      text-align: center;
   }
}

@media (max-width:767px) {
   .post-top-meta.authorpage {
      text-align: center;
   }
}

.share,
.share a {
   color: rgba(0, 0, 0, .44);
   fill: rgba(0, 0, 0, .44);
}

.graybg {
   background-color: #fafafa;
   padding: 40px 0 46px;
   position: relative;
}

.listrelated .card {
   box-shadow: 0 1px 7px rgba(0, 0, 0, .05);
   border: 0;
}

.grid-item {
   padding-left: 10px;
   padding-right: 10px;
   margin-bottom: 20px;
}

.card {
   border-radius: 2px;
   transition: 0.3s;
}

.card-header {
   padding: 0;
   overflow: hidden;
   background: #fff;
   border: 0;
}

.card .img-thumb,
.card-header:first-child {
   border-radius: 0;
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}

.listrelated .card .img-thumb {
   height: 200px;
   width: 100%;
   object-fit: cover;
}

ul.tags {
   list-style: none;
   padding-left: 0;
   margin: 2rem 0 3rem 0;
}

ul.tags li {
   display: inline-block;
   font-size: 0.9rem;
}

ul.tags li a {
   background: rgba(0, 0, 0, .05);
   color: rgba(0, 0, 0, .6);
   border-radius: 3px;
   padding: 5px 10px;
   margin-bottom: 5px;
   display: inline-block;
}

ul.tags li a:hover {
   background: rgba(0, 0, 0, .07);
   text-decoration: none;
}

.margtop3rem {
   margin-top: 3rem;
}

.sep {
   height: 1px;
   width: 20px;
   background: #999;
   margin: 0px auto;
   margin-bottom: 1.2rem;
}

.btn.follow {
   border-color: #02B875;
   color: #1C9963;
   padding: 3px 10px;
   text-align: center;
   border-radius: 999em;
   font-size: 0.85rem;
   display: inline-block;
}

.btn.subscribe {
   background-color: #1C9963;
   border-color: #1C9963;
   color: rgba(255, 255, 255, 1);
   fill: rgba(255, 255, 255, 1);
   border-radius: 30px;
   font-size: 0.85rem;
   font-weight: 600;
   text-transform: uppercase;
}

.post-top-meta .btn.follow {
   margin-left: 5px;
   margin-top: -4px;
}

.alertbar {
   box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, .0785);
   position: fixed;
   bottom: 0;
   left: 0;
   background-color: #fff;
   width: 100%;
   padding: 14px 0;
   z-index: 1;
   display: none;
}

.alertbar img {
   max-height: 30px;
}

.form-control::-webkit-input-placeholder {
   color: rgba(0, 0, 0, .3);
}

.form-control:-moz-placeholder {
   color: rgba(0, 0, 0, .3);
}

.form-control::-moz-placeholder {
   color: rgba(0, 0, 0, .3);
}

.form-control:-ms-input-placeholder {
   color: rgba(0, 0, 0, .3);
}

.form-control::-ms-input-placeholder {
   color: rgba(0, 0, 0, .3);
}

.authorpage h1 {
   font-weight: 700;
   font-size: 30px;
}

.post-top-meta.authorpage .author-thumb {
   float: none;
}

.authorpage .author-description {
   font-size: 1rem;
   color: rgba(0, 0, 0, .6);
}

.post-top-meta.authorpage .btn.follow {
   padding: 7px 20px;
   margin-top: 10px;
   margin-left: 0;
   font-size: 0.9rem;
}

.graybg.authorpage {
   border-top: 1px solid #f0f0f0;
   padding: 40px 0 10px;
}

.authorpostbox {
   width: 760px;
   margin: 0px auto;
   margin-bottom: 1.5rem;
   max-width: 100%;
}

.authorpostbox .img-thumb {
   width: 100%;
}

.sociallinks {
   margin: 1rem 0;
}

.sociallinks a {
   background: #666;
   color: #fff;
   width: 22px;
   height: 22px;
   display: inline-block;
   text-align: center;
   line-height: 22px;
   border-radius: 50%;
   font-size: 12px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.article-post .h1,
.article-post .h2,
.article-post .h3,
.article-post .h4,
.article-post .h5,
.article-post .h6,
.article-post h1,
.article-post h2,
.article-post h3,
.article-post h4,
.article-post h5,
.article-post h6 {
   font-weight: 700;
   margin-bottom: 1.5rem;
}

hr {
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}

.greenme {
   color: #02b875;
   fill: #02b875;
}

.share a:hover {
   text-decoration: none;
   color: #02b875;
}

img {
   max-width: 100%;
}

pre {
   font-size: 0.90rem;
   display: block;
   background: #f7f7f7;
   padding: 10px;
}
code {
   font-size: 0.90rem;
   display: block;
   background: #f7f7f7;
   color: rgb(33, 37, 41);
}

#comments {
   margin-top: 3rem;
   margin-bottom: 2rem;
}

.read-next-divider {
   position: relative;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: center;
   justify-content: center;
   height: 55px;
}

.read-next-divider svg {
   width: 40px;
   fill: transparent;
   stroke: #fff;
   stroke-width: .5px;
   stroke-opacity: .65;
}

.read-next-card-header-title {
   margin: 0;
   padding: 0 20px;
   color: #fff;
   font-size: 1.3rem;
   line-height: 1.2em;
   letter-spacing: 1px;
}

.read-next-card-header-sitetitle {
   display: block;
   font-size: 1.1rem;
   line-height: 1.3em;
   opacity: .8;
   font-weight: 300;
   margin-bottom: 10px;
}

.read-next-card-content li {
   margin: 0;
   padding: 0;
   font-size: 1rem;
   line-height: 1.25em;
   font-weight: 200;
   letter-spacing: -.5px;
}

.read-next-card-content li a {
   display: block;
   padding: 20px 0;
   border-bottom: 1px solid hsla(0, 0%, 100%, .3);
   color: #fff;
   font-weight: 500;
   vertical-align: top;
   transition: opacity .3s ease;
}

.read-next-card-footer {
   position: relative;
   margin: 15px 0 3px;
   text-align: center;
}

.read-next-card {
   padding: 25px;
   color: #fff;
   background: #15171a 50%;
   background-size: cover;
   border-radius: 5px;
   box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
}

.read-next-card-content ul {
   padding-left: 20px;
   list-style: none;
}

.read-next-card-header-title a {
   color: #fff;
   font-weight: 300;
   text-decoration: none;
}

.read-next-card-header {
   position: relative;
   padding-top: 10px;
   padding-bottom: 20px;
   text-align: center;
}

.read-next-card-content {
   position: relative;
   -ms-flex-positive: 1;
   flex-grow: 1;
   display: -ms-flexbox;
   display: flex;
   font-size: 1.0rem;
}

.padleft0 {
   padding-left: 0;
}

.alertbar .form-group,
.alertbar form {
   margin-bottom: 0rem;
   display: inline;
}

.alertbar .subscribe-email {
   padding: 7px 10px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 3px;
   font-size: 0.8rem;
}

.alertbar [type=submit] {
   background: #1c9963;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   color: #fff;
   font-size: 0.95rem;
   margin-left: -20px;
   padding: 6px 9px;
   border: 1px solid #1c9963;
   border-top: 0;
}

@media (max-width:1024px) {
   .alertbar form {
      display: block;
   }
}

.masonrygrid.row {
   margin-left: -10px;
   margin-right: -10px;
}

.section-title span.navigation {
   float: right;
   font-size: 0.93rem;
   margin-top: 10px;
}

span.navigation {
   display: inline-block;
   font-size: 0.93rem;
   font-weight: 700;
}

.homecover {
   background-size: cover;
   padding: 10rem 0rem;
   color: #fff;
   margin-bottom: 2rem;
   margin-top: -1.5rem;
   background-image: url(../img/blog-cover.jpg);
   background-position: center;
}

.homecover h1,
.homecover .lead {
   display: block;
}

.homecover h1 span,
.homecover .lead span {
   background: rgba(0, 0, 0, 0.6);
   padding: 3px 20px 3px 20px;
   display: inline-block;
}

.jumbotron.fortags {
   border-radius: 0;
   background-image: url(../img/footer-cover.jpg);
   background-size: cover;
}

.jumbotron.fortags a {
   padding: 5px 10px 7px;
   background: rgba(0, 0, 0, 0.5);
   border-radius: 30px;
   color: #fff;
   font-weight: 400;
   text-transform: lowercase;
   font-size: 0.9rem;
   margin-bottom: 5px;
   display: inline-block;
}

@media (min-width:768px) {
   .jumbotron.fortags {
      margin-bottom: -50px;
      padding: 0;
      height: 400px;
   }
   .jumbotron.fortags .col-md-4 {
      background: rgba(0, 0, 0, 0.75);
      color: #fff;
      margin-left: 0;
      padding-left: 0;
      padding-top: 15%;
   }
   .jumbotron.fortags .col-md-4 h2 {
      font-weight: 300;
   }
   .jumbotron.fortags .row {
      margin: 0;
   }
}

.bottompagination span.navigation {
   display: block;
   font-size: 0.93rem;
   padding: 15px 0;
   text-align: center;
   margin-bottom: 0;
   margin-top: 20px;
   color: #292929;
   border-top: 1px solid #ddd;
}

.bottompagination span.navigation a {
   color: #999;
}

.pointerup {
   margin-bottom: -36px;
   margin-left: 49%;
   font-size: 30px;
}

.pointerup i.fa {
   color: #eaeaea;
}

.bottompagination span.navigation i {
   display: inline-block;
}

.author-template .homecover .authorpage {
   max-width: 100%;
   margin: 0px auto;
   background: rgba(0, 0, 0, 0.3);
   padding: 8.5rem 2rem;
   color: #fff;
}

.author-template .homecover {
   padding: 0;
}

.author-template .homecover .post-top-meta span,
.author-template .homecover .post-top-meta .author-description {
   color: #fff;
}

.author-template .homecover a {
   color: #fff;
   opacity: 0.7;
}

.list-group-item:last-child {
   margin-bottom: 0;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
}

.list-group-item:first-child {
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}

#search-result {
    position: absolute;
    width: 400px;
    right: 0;
    top: 60px;
    font-size: 14px;
    color: #999;
}
.search-results-wrapper p {
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .025);
    border-bottom: 0;
    padding: .55rem 1.25rem;
}
.search-results-wrapper li {
    position: relative;
    display: block;
    padding: .55rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.025);
}

a:hover {
   text-decoration: none;
}

.results-hide {
   display: none;
}

.navbar-toggler {
   z-index: 9990;
}

.btn-round {
   border-radius: 30px;
}

.form-control,
label {
   font-size: 1rem;
}

.kg-width-wide {
   position: relative;
   width: 85vw;
   min-width: 100%;
   margin: auto calc(50% - 50vw);
   transform: translateX(calc(50vw - 50%));
   text-align: center;
   margin-bottom: 2rem;
}

.kg-width-full {
   position: relative;
   width: 100vw;
   left: 50%;
   right: 50%;
   margin-left: -50vw;
   margin-right: -50vw;
   text-align: center;
}

.kg-width-full img,
.kg-width-wide img {
   width: 100%;
   margin: 0px auto;
}

.kg-gallery-container {
   display: flex;
   flex-direction: column;
   margin: 1.5em auto;
   max-width: 1040px;
   width: 100vw;
}

.kg-gallery-row {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.kg-gallery-image img {
   display: block;
   margin: 0;
   width: 100%;
   height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
   margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
   margin: 0 0 0 0.75em;
}

figcaption {
   font-style: italic;
   color: #999;
   font-size: 14px;
   padding-top: 5px;
   background: #fff;
   text-align: center;
}

article figure {
   margin: 0;
}

article figcaption {
   text-align: center;
}

.kg-bookmark-card {
   width: 100%;
   position: relative;
}

.kg-bookmark-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   color: currentColor;
   font-family: inherit;
   text-decoration: none;
   border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
   text-decoration: none;
}

.kg-bookmark-content {
   flex-basis: 0;
   flex-grow: 999;
   padding: 20px;
   order: 1;
}

.kg-bookmark-title {
   font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
   margin-top: .5em;
}

.kg-bookmark-metadata {
   align-items: center;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.kg-bookmark-description {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
}

.kg-bookmark-icon {
   display: inline-block;
   width: 1em;
   height: 1em;
   vertical-align: text-bottom;
   margin-right: .5em;
   margin-bottom: .05em;
}

.kg-bookmark-thumbnail {
   display: flex;
   flex-basis: 24rem;
   flex-grow: 1;
}

.kg-bookmark-thumbnail img {
   max-width: 100%;
   height: auto;
   vertical-align: bottom;
   object-fit: cover;
}

.kg-bookmark-author {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

.kg-bookmark-publisher::before {
   content: "•";
   margin: 0 .5em;
}

@media (max-width:997px) {
   .listfeaturedtag .wrapthumbnail,
   .listfeaturedtag .col-md-7 {
      width: 100%;
      max-width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
   }
   .listfeaturedtag .card-block {
      padding-left: 20px;
   }
   .homecover {
      padding: 5rem 0rem;
   }
   .listfeaturedtag .wrapfooter {
      padding-left: 20px;
   }
}

@media (min-width:1920px) { 
   .container {max-width:1450px;}
   .jumbotron.fortags .col-md-4 { padding-top:12%;}
}